<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>注册</title>
	<script src="js/hu.js"></script>
</head>
<body>
<h1>请登录或注册</h1>
<div class="div-container">
	<input type="text" placeholder="用户名" id="id-input-username">
	<br>
	<input type="text" placeholder="密码" id="id-input-password">
	<br>
	<button id="id-button-login">登录</button>
	<button id="id-button-register">注册</button>
</div>
<script src="js/config.js"></script>
<script src="js/login/register.js"></script>
</body>
</html>